* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
  background-color: hsl(212, 45%, 89%);
  padding: 20px;
  font-family: "Outfit", sans-serif;
}
main {
  /* border: solid red; */
  width: 50%;
  height: 60%;
  align-items: center;
  position: relative;
  left: 30%;
  top: 50%;
}
.container {
  width: 80%;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  border-radius: 20px;
}
img {
  flex: 1;
  /* padding: 20px 0px 20px 10px; */
  margin: 20px 10px 20px 10px;
  width: 90%;
  height: 50%;
  align-items: center;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
h2 {
  padding: 10px;
  width: 80%;
  font-weight: 700;
  text-align: center;
}
p {
  padding: 10px;
  font-size: 15px;
  width: 70%;
  margin-bottom: 20px;
  line-height: 18px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {

    
}
